- cache ApplicationHelper::APP_VERSION do
  .row
    .col.m6.s12.offset-m3
      %h4 Login
      %hr
      = link_to "Click here to sign up if you don't have an account", signup_path
  .row
    .col.m6.s12.offset-m3
      .row
        = link_to omniauth_path(provider: 'google') do
          .btn.btn-large.col.s12.white.black-text.omniauth-button
            = image_tag 'google-logo.png', class: 'left'
            .center
              Login With Google
      .row
        = link_to omniauth_path(provider: 'facebook') do
          .btn.btn-large.col.s12.white.black-text.omniauth-button
            = image_tag 'facebook-logo.png', class: 'left'
            .center
              Login With Facebook
      .section
        .row.center-align
          %h5 Or with your email address:
        = form_tag url_for(controller: :sessions, action: :create), remote: true do |f|
          = render partial: 'partials/errors'
          .input-field
            = email_field_tag :email
            = label_tag :email
          .input-field
            = password_field_tag :password
            = label_tag :password
          .input-field
            = link_to 'Forgot Password', reset_password_path
          .input-field
            = submit_tag 'Login', class: 'btn btn-large col s12'
