.row
  .input-field.col.m8.s12.no-gutter
    = number_field_tag "graph[data][value]", (graph.data.andand['value'].andand.to_i.andand.fdiv(100)), :step => "0.01"
    = label_tag "graph[data][value]", "Value"
  .input-field.col.m4.s12
    = select_tag "graph[data][iso_code]", options_for_select(Money::Currency.all.map{|c| ["#{c.name} (#{c.iso_code})", c.iso_code]}, graph.data.andand['iso_code']), class: 'browser-default'
