%ul.simple-sort.list
  - if !graph.data.nil?
    - graph.data['listings'].each_with_index do |_, i|
      %li
        .row.no-margin
          %a.col.m1.grip.align-bottom
            %i.left.grey-text.material-icons reorder
          .input-field.col.m4
            = text_field_tag 'graph[data][listings][][address]', graph.data.andand['listings'].andand[i].andand['address']
            = label_tag 'graph[data][listings][][address]', 'Address'
          .input-field.col.m4
            = text_field_tag 'graph[data][listings][][note]', graph.data.andand['listings'].andand[i].andand['note']
            = label_tag 'graph[data][listings][][note]', 'Note'
          .input-field.col.m2
            = select_tag 'graph[data][listings][][status]', options_for_select(Graph::PROPERTY_STATUSES, graph.data.andand['listings'].andand[i].andand['status']), { include_blank: 'Status', class: 'browser-default' }
          %a.col.m1.remove.align-bottom
            %i.red-text.material-icons.remove-line delete
  %li
    .row.no-margin
      .col.m1
        &nbsp;
      .input-field.col.m4
        = text_field_tag 'graph[data][listings][][address]'
        = label_tag 'graph[data][listings][][address]', 'Address'
      .input-field.col.m4
        = text_field_tag 'graph[data][listings][][note]'
        = label_tag 'graph[data][listings][][note]', 'Note'
      .input-field.col.m2
        = select_tag 'graph[data][listings][][status]', options_for_select(Graph::PROPERTY_STATUSES), { include_blank: 'Status', class: 'browser-default' }
      %a.col.m1.add.align-bottom
        %i.green-text.material-icons.add-line add

  // Template for adding an additional line
  %li.line-template.hide
    .row.no-margin
      %a.col.m1.grip.align-bottom
        %i.left.grey-text.material-icons reorder
      .input-field.col.m4
        = text_field_tag 'graph[data][listings][][address]'
        = label_tag 'graph[data][listings][][address]', 'Address'
      .input-field.col.m4
        = text_field_tag 'graph[data][listings][][note]'
        = label_tag 'graph[data][listings][][note]', 'Note'
      .input-field.col.m2
        = select_tag 'graph[data][listings][][status]', options_for_select(Graph::PROPERTY_STATUSES), { include_blank: 'Status', class: 'browser-default' }
      %a.col.m1.remove.align-bottom
        %i.red-text.material-icons.remove-line delete