%ul.simple-sort.list
  - if !graph.data.nil?
    - graph.data['series'].each_with_index do |_, i|
      %li
        .row.no-margin
          %a.col.m1.grip.align-bottom
            %i.left.grey-text.material-icons reorder
          .input-field.col.m5
            = text_field_tag 'graph[data][labels][]', graph.data.andand['labels'].andand[i]
            = label_tag 'graph[data][labels][]', 'Label'
          .input-field.col.m5
            = number_field_tag 'graph[data][series][]', graph.data.andand['series'].andand[0].andand[i]
            = label_tag 'graph[data][series][]', 'Value'
          %a.col.m1.remove.align-bottom
            %i.red-text.material-icons.remove-line delete
  %li
    .row.no-margin
      .col.m1
        &nbsp;
      .input-field.col.m5
        = text_field_tag 'graph[data][labels][]'
        = label_tag 'graph[data][labels][]', 'Label'
      .input-field.col.m5
        = number_field_tag 'graph[data][series][]'
        = label_tag 'graph[data][series][]', 'Value'
      %a.col.m1.add.align-bottom
        %i.green-text.material-icons.add-line add

  // Template for adding an additional line
  %li.line-template.hide
    .row.no-margin
      %a.col.m1.grip.align-bottom
        %i.left.grey-text.material-icons reorder
      .input-field.col.m5
        = text_field_tag 'graph[data][labels][]'
        = label_tag 'graph[data][labels][]', 'Label'
      .input-field.col.m5
        = number_field_tag 'graph[data][series][]'
        = label_tag 'graph[data][series][]', 'Value'
      %a.col.m1.remove.align-bottom
        %i.red-text.material-icons.remove-line delete