- time = -> { Time.current.in_time_zone(graph.account.time_zone).to_i }.call
%ul.list
  %li
    = hidden_field_tag 'graph[data][labels][]', graph.data.andand['labels'].andand.first || time
    .row.no-margin
      .input-field.col.s11
        = number_field_tag 'graph[data][series][]', graph.data.andand['series'].andand[0].andand.first || ''
        = label_tag 'graph[data][series][]', '', data: { time: (graph.data.andand['labels'].andand.first || time) }, class: 'date-label'
      %a.col.s1.add.align-bottom
        %i.green-text.material-icons.add-line-with-date{ data: { persisted: (graph.persisted? ? 'true' : 'false') } } add
  - if graph.persisted?
    - graph.data.andand['series'].andand[0].andand.each_with_index do |_, i|
      - if i != 0
        %li
          = hidden_field_tag 'graph[data][labels][]', graph.data['labels'].andand[i]
          .row.no-margin
            .input-field.col.s12
              = number_field_tag 'graph[data][series][]', graph.data['series'].andand[0].andand[i]
              = label_tag 'graph[data][series][]', '', data: { time: graph.data['labels'].andand[i] }, class: 'date-label'

  // Template for adding an additional line
  %li.line-template.hide
    = hidden_field_tag 'graph[data][labels][]'
    .row.no-margin
      .input-field.col.s12
        = number_field_tag 'graph[data][series][]'
        = label_tag 'graph[data][series][]'
