- cache [ApplicationHelper::APP_VERSION, graph] do
  .modal.graph.modal-fixed-footer{ id: "edit-graph-modal-#{graph.id}" }
    = form_for graph, remote: true, html: { autocomplete: :off } do |f|
      = f.hidden_field :data, id: "edit-glance-#{graph.id}", value: f.object.data.to_json
      .modal-content
        .row
          .col.s12
            %h4
              = "Edit #{graph.output.capitalize} Glance"
              %a{ href: 'https://agentecho.zendesk.com/hc/en-us/articles/226553747-Creating-Editing-A-Glance', target: '_blank', class: 'white-text' }
                %small.right.btn-floating.center-align
                  ?
            = render partial: 'partials/errors'
        - if graph.errored_out?
          .row
            .col.s12
              %span
                %i.material-icons.red-text error_outline
                This glance has not been updating due to this error:
                %strong= graph.error_msg
        .row
          .col.m6.s12.no-gutter
            .input-field.col.s8
              = f.text_field :title
              = f.label :title
            .input-field.col.s4
              = f.select :size, Graph::SIZES, {}, { class: 'browser-default' }
        - if graph.kind != 'native_title'
          .row
            = react_component 'GlanceEdit', glance: graph
      .modal-footer
        = f.submit 'Update', class: 'btn col s6'
        .btn-flat.modal-action.modal-close.col.s6.center-align Cancel