.modal.graph.modal-fixed-footer#new-graph-modal
  = form_for @graph, remote: true, html: { autocomplete: :off } do |f|
    = f.hidden_field :dashboard_id
    = f.hidden_field :data, id: 'new-glance'
    = f.hidden_field :kind, id: 'new-glance-kind'
    = f.hidden_field :integration_id, id: 'new-glance-integration'
    .modal-content
      .row
        .col.s12
          %h4
            Add Glance
            %a{ href: 'https://agentecho.zendesk.com/hc/en-us/articles/226553747-Creating-Editing-A-Glance', target: '_blank', class: 'white-text' }
              %small.right.btn-floating.center-align
                ?
          = render partial: 'partials/errors'
      .row
        = react_component 'GlanceNew', integrations: Hash[@integrations.map{|i| [i.id, i.provider.split('_').first] }], kinds: Graph.kinds_as_object
      .row
        .col.m6.s12.no-gutter
          .input-field.col.s8
            = f.text_field :title
            = f.label :title
          .input-field.col.s4
            = f.select :size, Graph::SIZES, { include_blank: 'Size' }, { class: 'browser-default' }
    .modal-footer
      = f.submit 'Create', class: 'btn col s6'
      .btn-flat.modal-action.modal-close.col.s6.center-align Cancel