.modal{ id: "speakeasy-graph-modal-#{graph.id}" }
  .modal-content
    .row
      .col.s12
        %h4.hide-on-small-only
          = "#{graph.title}"
          %a{ href: 'https://agentecho.zendesk.com/hc/en-us/articles/226551167-Enabling-Sharing-a-Speakeasy-Link', target: '_blank', class: 'white-text' }
            %small.right.btn-floating.center-align
              ?
          %small.right SpeakeasyLink™
        %h4.hide-on-med-and-up
          = "#{graph.title}"
          %a{ href: 'https://agentecho.zendesk.com/hc/en-us/articles/226551167-Enabling-Sharing-a-Speakeasy-Link', target: '_blank', class: 'white-text' }
            %small.right.btn-floating.center-align
              ?
      .col.s12
        %p This link allows anyone to update this glance's information.
      .input-field.col.s12.m8
        = text_field_tag :speakeasy, "#{root_url}#{graph.uuid}", disabled: true
      .input-field.col.s12.m2
        %a.waves-effect.waves-light.btn.col.s12.copy-link{ href: '#' }
          %i.material-icons.left content_copy
          Copy
      .input-field.col.s12.m2
        = link_to reset_graph_speakeasy_path(graph),
                    remote: true,
                    method: :patch,
                    class: 'waves-effect waves-light btn col s12 regenerate-link',
                    data: { confirm: 'Are you use sure you want a new link? Anyone with the current link will not be able to access the page.' } do
          %i.material-icons.left refresh
          New Link
  .modal-footer
    .btn-flat.modal-action.modal-close.col.s12.center-align Close