.col.m6.offset-m3
  = form_for @graph, remote: true, html: { autocomplete: :off } do |f|
    = f.hidden_field :data, id: "edit-glance-#{@graph.id}", value: f.object.data.to_json
    .row
      .col.s12
        %h4= "Edit #{@graph.title} • #{@graph.output.capitalize} Glance"
        %hr
        = render partial: 'partials/errors'
        = react_component 'GlanceEdit', glance: @graph, hideSpeakeasy: true
        - if current_account.nil?
          .row
            .col.s12
              = recaptcha_tags
    .row
      = f.submit 'Update Glance', class: 'btn col s12'
