- cache [ApplicationHelper::APP_VERSION, graph] do
  .card
    .card-content
      %span.card-title
        = graph.title
      .number.valign-wrapper.center-align
        %span.valign
          - if (graph.data.andand['value'].andand.to_i || 0) > 999999
            = "#{Money.new(0, graph.data['iso_code']).symbol}#{number_to_human graph.data['value'].andand.to_i.andand.fdiv(100)}"
          - else
            = Money.new(graph.data.andand['value'], graph.data.andand['iso_code']).format