- cache [ApplicationHelper::APP_VERSION, graph] do
  .card
    .card-content
      %span.card-title
        = graph.title
      .marquee-container
        .marquee-placeholder
          %ul.collection
            - graph.data.andand['listings'].each do |listing|
              %li.collection-item
                %span.white-text.badge{ 'data-badge-caption': listing['status'], class: statusBadgeClass(listing['status']) }
                = listing['address']
                - if !listing['note'].blank?
                  %p.truncate= listing['note']