- cache [ApplicationHelper::APP_VERSION, graph] do
  .card
    .card-content
      %span.card-title
        = graph.title
      %div{ class: "graph-#{graph.id} innergraph" }

  :javascript
    new Chartist.Line(".graph-#{graph.id}", #{graph.data.to_json}, {
      fullWidth: true,
      chartPadding: {
        right: 40
      }
    });
