- cache [ApplicationHelper::APP_VERSION, graph] do
  .card
    .card-content
      %span.card-title
        = graph.title
      .marquee-container
        .marquee-placeholder
          %ul.collection
            - graph.data.andand['series'].each do |item|
              %li.collection-item= item