- cache [ApplicationHelper::APP_VERSION, graph] do
  .card
    .card-content
      %span.card-title
        = graph.title
      .number.valign-wrapper.center-align
        %span.valign
          - if (graph.data.andand['value'].andand.to_i || 0) > 999999
            = number_to_human graph.data.andand['value']
          - else
            = number_with_delimiter graph.data.andand['value']