- cache [ApplicationHelper::APP_VERSION, graph] do
  .card
    .card-content
      %span.card-title
        = graph.title
      .number.valign-wrapper
        %span.valign
          %p.flow-text= simple_format(graph.data.andand['value'], class: 'flow-text')