- cache [ApplicationHelper::APP_VERSION, graph] do
  .card
    .card-content
      %span.card-title
        = graph.title
      .today.center-align
        - if (graph.data.andand['series'].andand[0].andand.first.andand.to_i || 0) > 99999
          = number_to_human graph.data.andand['series'][0].andand.first
        - else
          = number_with_delimiter graph.data.andand['series'].andand[0].andand.first
      - if graph.size > 2
        .ranges
          .month
            Current Month
            %div{ class: "month-graph-#{graph.id} innergraph" }
          .week
            This Week
            %div{ class: "week-graph-#{graph.id} innergraph" }
  :javascript
    var weekData = #{graph.week.to_json};
    var monthData = #{graph.month.to_json};
    weekData = { series: weekData.series, labels: _.map(weekData.labels, function(label) {
      return moment.unix(label).utcOffset(TZ).format('dd');
    })};
    monthData = { series: monthData.series, labels: _.map(monthData.labels, function(label) {
      return moment.unix(label).utcOffset(TZ).format('Do');
    })};
    new Chartist.Bar(".month-graph-#{graph.id}", monthData);
    new Chartist.Bar(".week-graph-#{graph.id}", weekData);