- if current_account.trial_left > 0 and !current_account.plan?(:free)
  .row.card-panel.yellow.lighten-4.black-text.account-notifications
    .col.m12.s12.l8.offset-l2
      - if !current_account.enabled_integrations? and !current_account.persona_selected?
        %span
          Welcome to AgentEcho! Extend your trial a week by
          = link_to 'enabling a connection', integrations_path
          or
          = link_to 'selecting a persona.', settings_path
      - if current_account.enabled_integrations? and !current_account.persona_selected?
        %span
          Welcome to AgentEcho! Extend your trial a week by
          = link_to 'selecting a persona.', settings_path
      - if !current_account.enabled_integrations? and current_account.persona_selected?
        %span
          Welcome to AgentEcho! Extend your trial a week by
          = link_to 'enabling a connection.', integrations_path
      You have
      = pluralize(current_account.trial_left, 'day')
      left on your trial.
      - if current_account.trial_left < 7
        Add your
        = link_to 'billing information', billing_path
        to protect from a service interruption.
- elsif current_account.billing_issue?
  .row.card-panel.red.lighten-4.black-text.account-notifications
    .col.m12.s12.l8.offset-l2
      There is a problem with your subscription billing. Please correct on the
      %a{ href: '/billing'} billing page
      or contact support.