.modal.modal-fixed-footer{ id: "edit-loop-modal-#{loop_object.id}" }
  = form_for loop_object, remote: true, html: { autocomplete: :off } do |f|
    .modal-content
      %h4
        = "Edit #{loop_object.name} Loop"
      = render partial: 'partials/errors'
      = render partial: 'loops/form', locals: { f: f, dashboards: dashboards }
    .modal-footer
      = f.submit class: 'btn col s6'
      .btn-flat.modal-action.modal-close.col.s6.center-align Cancel