.row
  .input-field.col.s12.no-gutter.m6
    = f.text_field :name
    = f.label :name
  .input-field.col.s12.no-gutter.m6
    = f.select :transition, Loop::TRANSITIONS.map{|t| [t.capitalize, t] }
    = f.label :transition
  .input-field.col.s12.no-gutter
    %p Duration
    - Loop::DURATIONS.each do |seconds|
      .col.s6.no-gutter.m3
        = f.radio_button :duration, seconds, id: "loop_duration-#{seconds}-#{f.object.new_record? ? 'new' : (f.object.id.to_s + 'edit')}", class: 'with-gap'
        = f.label "duration-#{seconds}-#{f.object.new_record? ? 'new' : (f.object.id.to_s + 'edit')}", (seconds < 60 ? "#{seconds} seconds" : pluralize(seconds / 60, 'minute'))
  .input-field.col.s12.no-gutter
    %p Dashboards
    - dashboards.each do |dashboard|
      .col.s6.m3.no-gutter
        = check_box_tag "loop[dashboard_ids][]", dashboard.id, f.object.dashboard_ids.include?(dashboard.id.to_s), id: "loop_dashboard-ids-#{dashboard.id}-#{f.object.new_record? ? 'new' : (f.object.id.to_s + 'edit')}", class: 'filled-in'
        = f.label "dashboard-ids-#{dashboard.id}-#{f.object.new_record? ? 'new' : (f.object.id.to_s + 'edit')}", dashboard.name
.row
  .input-field.col.s12.no-gutter
    %p Do you want to enable this loop's SpeakeasyLink™?
    = f.check_box :public_loop, id: "public_loop-#{f.object.id}"
    = f.label :public_loop, 'Enable', for: "public_loop-#{f.object.id.to_s}", class: 'public_form-label'
