.modal.modal-fixed-footer#new-loop-modal
  = form_for loop_object, remote: true, html: { autocomplete: :off } do |f|
    .modal-content
      %h4
        = "Create Loop"
      = render partial: 'partials/errors'
      = render partial: 'loops/form', locals: { f: f, dashboards: dashboards }
    .modal-footer
      = f.submit class: 'btn col s6'
      .btn-flat.modal-action.modal-close.col.s6.center-align Cancel