.modal{ id: "speakeasy-loop-modal-#{loop_object.id}" }
  .modal-content
    .row
      .col.s12
        %h4.hide-on-small-only
          = "#{loop_object.name} Loop"
          %small.right SpeakeasyLink™
        %h4.hide-on-med-and-up
          = "#{loop_object.name} Loop"
          %br
          SpeakeasyLink™
      .col.s12
        %p This link allows anyone to view this loop.
      .input-field.col.s12.m8
        = text_field_tag :speakeasy, "#{root_url}loop/#{loop_object.uuid}", disabled: true
      .input-field.col.s12.m2
        %a.waves-effect.waves-light.btn.copy-link.col.s12{ href: '#' }
          %i.material-icons.left content_copy
          Copy
      .input-field.col.s12.m2
        = link_to reset_loop_speakeasy_path(loop_object),
                    remote: true,
                    method: :patch,
                    class: 'waves-effect waves-light btn col s12 regenerate-link',
                    data: { confirm: 'Are you use sure you want a new link? Anyone with the current link will not be able to access the page.' } do
          %i.material-icons.left refresh
          New Link
  .modal-footer
    .btn-flat.modal-action.modal-close.col.s12.center-align Close