#version{ data: { version: ENV['APP_VERSION'] } }
#loop{ data: { uuid: @loop.uuid, dashboard_uuids: @loop.dashboards.pluck(:uuid), transition: @loop.transition, duration: @loop.duration } }
.row.dashboard-page
  .reveal
    .slides
      - @loop.dashboards.each do |dashboard|
        %section.scrollable
          = render dashboard