- cache [ApplicationHelper::APP_VERSION, dashboard] do
  .modal{ id: "duplicate-dashboard-modal-#{dashboard.id}" }
    = form_for dashboard, url: { action: :duplicate, id: dashboard.id }, remote: true, html: { autocomplete: :off } do |f|
      .modal-content
        %h4= "Duplicate #{dashboard.name} Board"
        = render partial: 'partials/errors'
        .input-field
          = f.text_field :name, value: ''
          = f.label :name, 'New Board Name'
        .input-field
          %p Do you want to enable this board's SpeakeasyLink™?
          = f.check_box :public_form, id: "public_form-#{dashboard.id}"
          = f.label :public_form, 'Enable', for: "public_form-#{dashboard.id}", class: 'public_form-label'
      .modal-footer
        = f.submit 'Duplicate', class: 'btn col s6'
        .btn-flat.modal-action.modal-close.col.s6.center-align Cancel