- cache [ApplicationHelper::APP_VERSION, dashboard] do
  .modal{ id: "edit-dashboard-modal-#{dashboard.id}" }
    = form_for dashboard, remote: true, html: { autocomplete: :off } do |f|
      .modal-content
        %h4
          = "Edit #{dashboard.name} Board"
          %a{ href: 'https://agentecho.zendesk.com/hc/en-us/articles/226551267-Creating-Editing-A-Board', target: '_blank', class: 'white-text' }
            %small.right.btn-floating.center-align
              ?
        = render partial: 'partials/errors'
        .input-field
          = f.text_field :name
          = f.label :name
        .input-field
          %p Do you want to enable this board's SpeakeasyLink™?
          = f.check_box :public_form, id: "public_form-#{dashboard.id}"
          = f.label :public_form, 'Enable', for: "public_form-#{dashboard.id}", class: 'public_form-label'
      .modal-footer
        = f.submit 'Update', class: 'btn col s6'
        .btn-flat.modal-action.modal-close.col.s6.center-align Cancel