.row
  .col.s9
    %h4
      = "#{@dashboard.name} Board"
  .col.s3.right-align
    - if @dashboard.public_form?
      %a.modal-trigger{ href: "#speakeasy-dashboard-modal-#{@dashboard.id}" }
        %i.material-icons vpn_lock
    %a.modal-trigger{ href: "#edit-dashboard-modal-#{@dashboard.id}" }
      .material-icons edit
    = link_to public_board_path(uuid: @dashboard.uuid), target: :blank do
      .material-icons open_in_new
  .col.s12
    %hr
.row
  .col.s12
    %h4
      Glances
      %small.right
        %a.btn-floating.small.modal-trigger{ href: "#new-graph-modal" }
          %i.material-icons add
- cache [ApplicationHelper::APP_VERSION, @graphs] do
  .row
    .col.s12
      %ul.collection.sortable.dashboard-graphs{ data: { id: @dashboard.id } }
        - @graphs.each do |graph|
          %li.collection-item{ data: { id: graph.id } }
            %a{ href: "#" }
              %i.grip.material-icons.grey-text reorder
            %span.hide-on-small-only
              = image_tag "/#{graph.integration_kind}-badge.png", class: 'brand-badge'
              = "#{graph.title} • #{graph.output.capitalize} Glance"
            %span.hide-on-med-and-up
              = "#{graph.title}"
            - if graph.errored_out?
              %span
                %i.material-icons.red-text error_outline
            .secondary-content
              - if graph.public_form?
                %a.modal-trigger{ href: "#speakeasy-graph-modal-#{graph.id}" }
                  %i.material-icons vpn_lock
              %a.modal-trigger{ href: "#edit-graph-modal-#{graph.id}" }
                %i.green-text.material-icons edit
              = link_to graph, method: :delete, data: { confirm: 'Are you sure?' }, remote: true do
                %i.red-text.material-icons delete
= render 'graphs/new'
= render 'dashboards/edit', dashboard: @dashboard
= render 'dashboards/speakeasy', dashboard: @dashboard
- @dashboard.graphs.each do |graph|
  = render 'graphs/edit', graph: graph
  - if graph.public_form?
    = render 'graphs/speakeasy', graph: graph