.row
  .col.s12
    .right-align
      %a{ href: 'https://agentecho.zendesk.com/hc/en-us/articles/226545207-Getting-Started-with-AgentEcho', target: :blank }
        Getting Started
.row
  .col.s12.m12.l6
    - cache [ApplicationHelper::APP_VERSION, @dashboards] do
      .row
        .col.s12
          %h4
            Boards
            %small.right
              %a.btn-floating.small.modal-trigger{ :href => "#new-dashboard-modal" }
                %i.material-icons add
      .row
        .col.s12
          - if @dashboards.any?
            %ul.collection
              - @dashboards.each do |dashboard|
                - cache [ApplicationHelper::APP_VERSION, dashboard] do
                  %li.collection-item.avatar
                    %a{ href: public_board_path(dashboard.uuid), target: :blank }
                      %i.circle.material-icons.primary-color dashboard
                      %span.title= dashboard.name
                    %p.muted.hide-on-small-only
                      = "Updated: " + dashboard.updated_at.to_formatted_s(:long_ordinal)
                      %br
                      = pluralize(dashboard.graphs_count, 'glance')
                    .secondary-content
                      = link_to edit_dashboard_path(dashboard), class: 'green-text' do
                        %i.material-icons edit
                      = link_to dashboard_path(dashboard), method: :delete, class: 'red-text', data: { confirm: 'Are you sure?' } do
                        %i.material-icons delete
                      %a.modal-trigger{ :href => "#duplicate-dashboard-modal-#{dashboard.id}" }
                        %i.material-icons control_point_duplicate
                  = render 'duplicate', dashboard: dashboard
      = render 'new', dashboard: @dashboard
  .col.s12.m12.l6
    - cache [ApplicationHelper::APP_VERSION, @dashbaords, @loops] do
      .row
        .col.s12
          %h4
            Loops
            %small.right
              %a.btn-floating.small.modal-trigger{ href: "#new-loop-modal" }
                %i.material-icons add
      .row
        .col.s12
          - if @loops.any?
            %ul.collection
              - @loops.each do |loop_object|
                %li.collection-item.avatar
                  %a{ href: public_loop_path(loop_object.uuid), target: :blank }
                    %i.circle.material-icons.primary-color loop
                    %span.title= loop_object.name
                  %p.muted.hide-on-small-only
                    = pluralize(loop_object.dashboard_count, 'dashboard')
                  .secondary-content
                    - if loop_object.public_loop?
                      %a.modal-trigger{ href: "#speakeasy-loop-modal-#{loop_object.id}" }
                        %i.material-icons vpn_lock
                    %a.modal-trigger{ href: "#edit-loop-modal-#{loop_object.id}", class: 'green-text' }
                      %i.material-icons edit
                    = link_to loop_path(loop_object), method: :delete, class: 'red-text', data: { confirm: 'Are you sure?' } do
                      %i.material-icons delete
                = render partial: 'loops/edit', locals: { loop_object: loop_object, dashboards: @dashboards }
                - if loop_object.public_loop?
                  = render partial: 'loops/speakeasy', locals: { loop_object: loop_object}
          - else
            %p.flow-text You haven't created any loops.
= render partial: 'loops/new', locals: { loop_object: @loop, dashboards: @dashboards }
