.modal.modal-fixed-footer{ id: "auto-modal-#{provider[:provider]}" }
  = form_for provider[:integration], url: autogenerate_path(provider[:integration]), method: :put do |f|
    .modal-content
      %h4
        = "Autogenerate Boards and Loops with #{provider[:name]} Data"
      .col.s12
        %p Would you like AgentEcho to autogenerate boards and a loop for this connection?
      = render partial: 'partials/errors'
      = render partial: "integrations/forms/#{provider[:provider]}", locals: { f: f }
      .col.s12
        %p
          = radio_button_tag :loop, :loop, true, id: 'loop', class: 'with-gap'
          = label_tag :loop, 'Boards and Loop'
      .col.s12
        %p
          = radio_button_tag :loop, :boards, false, id: 'boards', class: 'with-gap'
          = label_tag :boards, 'Only Boards'
      .col.s12
        %p * Some Glances may take a few minutes to retrieve their initial data.
    .modal-footer
      = f.submit 'Yes', class: 'btn col s6'
      .btn-flat.modal-action.modal-close.col.s6.center-align No