.row
  .col.s12
    %h4 Basic Connections
    %hr
.row
  - @basic.each do |pr|
    .col.s12.m6.l4
      .card.sticky-action.connection
        .card-image
          %span.right.badge.green.white-text.enabled= "Enabled" if pr[:enabled]
          = image_tag "/#{pr[:provider]}.gif"
        .card-content
          .card-title.activator.grey-text.text-darken-4
            = pr[:name]
            %i.material-icons.right more_vert
        .card-action.right-align
          - if !pr[:enabled]
            = link_to 'ENABLE', pr[:link], class: 'green-text modal-trigger'
          - elsif pr[:auto]
            = link_to 'GENERATE BOARDS', "#auto-modal-#{pr[:provider]}", class: 'green-text modal-trigger'
          - else
            &nbsp;
        .card-reveal
          %span.card-title.grey-text.text-darken-4
            = pr[:name]
            %i.material-icons.right close
          = pr[:desc]
.row
  .col.s12
    %h4 Premium Connections
    %hr
.row
  - @premium.each do |pr|
    - if pr[:coming_soon]
      .col.s12.m6.l4
        .card.sticky-action.connection
          .card-image
            %span.right.badge.blue.white-text.enabled= "Coming Soon"
            = image_tag "/#{pr[:provider]}.gif"
          .card-content
            .card-title.activator.grey-text.text-darken-4
              = pr[:name]
              %i.material-icons.right more_vert
          .card-action.right-align
            = link_to 'Learn More', pr[:link], class: 'blue-text modal-trigger'
          .card-reveal
            %span.card-title.grey-text.text-darken-4
              = pr[:name]
              %i.material-icons.right close
            = pr[:desc]
    - else
      .col.s12.m6.l4
        .card.sticky-action.connection
          .card-image
            %span.right.badge.green.white-text.enabled= "Enabled" if pr[:enabled]
            = image_tag "/#{pr[:provider]}.gif"
          .card-content
            .card-title.activator.grey-text.text-darken-4
              = pr[:name]
              %i.material-icons.right more_vert
          .card-action.right-align
            - if !pr[:enabled]
              = link_to 'ENABLE', pr[:link], class: 'green-text modal-trigger'
            - elsif pr[:auto]
              = link_to 'AUTOGENERATE', "#auto-modal-#{pr[:provider]}", class: 'green-text modal-trigger'
            - else
              &nbsp;
          .card-reveal
            %span.card-title.grey-text.text-darken-4
              = pr[:name]
              %i.material-icons.right close
            = pr[:desc]

- (@basic + @premium).each do |pr|
  - if pr[:auto] and pr[:enabled]
    = render partial: "integrations/edit", locals: { provider: pr }

.modal.graph#zapier-integration-modal
  .modal-content
    .row
      .col.s12
        %h4 Zapier Setup
      .col.s12
        %p
          To enable the Zapier connection, first login to your Zapier account and accept the invite by clicking this link:
          = link_to "Zapier Invite Link", "https://zapier.com/developer/invite/46257/e076447cc6af12503b8f18e6e10e8fd0/", target: '_blank'
        %p
          Then add your AgentEcho Zapier API token to your Zapier account, click the copy button and then open this page, paste the token, and save:
          = link_to "Zapier API Token", "https://zapier.com/engine/auth/start/App46257API/", target: '_blank'
      .input-field.col.s6
        = text_field_tag :api_token, @current_account.zapier_api_token, disabled: true
        %label{ for: :api_token } Zapier API Token
      .input-field.col.s6.m2
        %a.waves-effect.waves-light.btn.col.s12.copy-link{ href: '#' }
          %i.material-icons.left content_copy
          Copy
  .modal-footer.col.s4.offset-s4
    = link_to 'DONE', '#', onClick: 'location.reload();', class: 'btn col s12 modal-action'
.modal.graph#followupboss-integration-modal
  = form_for Integration.new(provider: 'followupboss_integration') do |f|
    = hidden_field_tag :provider, 'followupboss_integration'
    .modal-content
      .row
        .col.s12
          %h4 Follow Up Boss Setup
        .input-field.col.s6
          = text_field_tag "auth[api_key]"
          %label{ for: "auth[api_key]" } Follow Up Boss API Token
    .modal-footer.col.s4.offset-s4
      = f.submit 'ENABLE', class: 'btn col s12 modal-action'
.modal.graph#bombbomb-integration-modal
  = form_for Integration.new(provider: 'bombbomb_integration') do |f|
    = hidden_field_tag :provider, 'bombbomb_integration'
    .modal-content
      .row
        .col.s12
          %h4 BombBomb Setup
        .input-field.col.s6
          = text_field_tag "auth[api_key]"
          %label{ for: "auth[api_key]" } BombBomb API Token
    .modal-footer.col.s4.offset-s4
      = f.submit 'ENABLE', class: 'btn col s12 modal-action'

- if @integration.present? and !!Integration::PROVIDERS.find{|p| p[:provider] == @integration.provider }[:auto]
  :javascript
    var watingModalId = "#auto-modal-#{@integration.provider}"