---
- :name: Facebook Pages
  :provider: facebook_integration
  :desc: Connect your AgentEcho account to you Facebook account to enable glances
    that show engagement, fans, and reach.
  :link: "/integrations/facebook_integration"
  :kind: :basic
- :name: Google Sheets
  :provider: google_integration
  :desc: Connect your AgentEcho account to you Google Sheets to create glances that
    show data points, graphs, lists, and more.
  :link: "/integrations/google_integration"
  :kind: :basic
- :name: Native
  :provider: native_integration
- :name: Zapier
  :provider: zapier_integration
  :desc: Push data to AgentEcho through your Zapier account to enable access to hundreds
    of other apps!
  :link: "#zapier-integration-modal"
  :kind: :basic
- :name: MOJO Dialer
  :provider: mojo_dialer_integration
  :desc: ''
  :link: https://www.agentecho.io/connections
  :kind: :premium
  :coming_soon: true
- :name: TopProducer
  :provider: topproducer_integration
  :desc: ''
  :link: https://www.agentecho.io/connections
  :kind: :premium
  :coming_soon: true
- :name: Hubspot
  :provider: hubspot_integration
  :desc: ''
  :link: https://app.hubspot.com/oauth/authorize?client_id=<%= ENV['HUBSPOT_CLIENT_ID'] %>&scope=contacts%20automation&redirect_uri=https://<%= ENV['DOMAIN'] %>/integrations/hubspot_integration/callback
  :kind: :premium
  :auto: true
- :name: Follow Up Boss
  :provider: followupboss_integration
  :desc: ''
  :link: '#followupboss-integration-modal'
  :kind: :premium
  :auto: true
- :name: BombBomb
  :provider: bombbomb_integration
  :desc: ''
  :link: '#bombbomb-integration-modal'
  :kind: :premium
  :auto: true
# end