// Customize Colors
@import "materialize/components/color";
$primary-color:         rgba(147, 147, 213, 1.00) !default;
$primary-color-light:   lighten($primary-color, 15%) !default;
$primary-color-dark:    darken($primary-color, 15%) !default;
$secondary-color:       rgba(0, 200, 220, 1.00) !default;
$secondary-color-light: lighten($secondary-color, 15%) !default;
$secondary-color-dark:  darken($secondary-color, 15%) !default;
$success-color:         color("green", "base") !default;
$error-color:           color("red", "base") !default;
$link-color:            $secondary-color !default;
$spinner-default-color: $secondary-color;


// Customize Variables
@import "materialize/components/variables";
$navbar-height: 46px !default;


// Imports
@import 'vendor/reveal';
@import 'materialize';
@import 'graphs';
@import 'dashboards';
@import 'integrations';
@import 'vendor/chartist.min.css';

main {
  margin-top: 20px;
}

// Global Custom Styles

.preloader-wrapper {
  &.small {
    width: 30px;
    height: 30px;
  }
}

.shake {
  animation: shake 0.55s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  100% {
    background-color: $secondary-color;
  }

  90% {
    transform: translate3d(-1px, 0, 0);
  }

  80% {
    transform: translate3d(2px, 0, 0);
  }

  60% {
    transform: translate3d(3px, 0, 0);
  }

  70% {
    transform: translate3d(-3px, 0, 0);
  }

  10% {
    background-color: #F44336;
  }

  10%, 30%, 50% {
    transform: translate3d(-6px, 0, 0);
  }

  20%, 40% {
    transform: translate3d(6px, 0, 0);
  }
}

.select-wrapper {
  padding-bottom: 5px;
}

html {
  background-color: rgba(250, 250, 250, 1.00);
}

hr {
  border: none;
  border-bottom: 1px solid $primary-color;
}

.brand-logo {
  height: 100%;
  img {
    position: relative;
    top: 5px;
    max-width: 100%;
    max-height: 80%;
  }
}

.primary-color {
  background-color: $primary-color !important;
}

.primary-color-text {
  color: $primary-color !important;
}

.omniauth-button {
  img {
    position: relative;
    top: 4px;
    max-width: 100%;
    max-height: 80%;
  }
}

footer.page-footer {
  z-index: 3;
  padding-top: 0;
  bottom: 0;
  position: relative;
  position: fixed;
  width: 100%;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: $secondary-color;
}

@media only screen and (max-width: 600px) {
  nav i.right {
    margin-left: 0;
  }
}

.collection .collection-item.avatar {
  min-height: 64px;
}

.errors  {
  margin-bottom: 30px;
}

.col.no-gutter {
  padding-left: 0 !important;
  & > label {
    left: 0 !important;
  }
}

nav ul a {
  padding: 0 8px;
  overflow: hidden;
}

.toast {
  color: black;
  background-color: white;
  min-height: 70px;
}

@media only screen and (min-width: 600px) {
  .toast {
    border-radius: 30px;
    border: 1px solid rgba(255, 237, 97, 1);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  }
}

.toast-error {
  color: $error-color;
  border-radius: 0;
  background-color: black;
  border: none;
  font-weight: bold;
}

.account-notifications {
  padding-top: 5px;
  padding-bottom: 5px;
}