html.dashboard, body.dashboard, .dashboard-page, .dashboard-page > div, .dashboard-page > div > div, .dashboard-page > div > div > section, .dashboard-page > div > div > section > div, .dashboard-page > div > div > section > div > div  {
  height: 100%;
}

.row.dashboard-page {
  margin-bottom: 0;
}

.sortable {
  li.collection-item {
    padding: 10px 20px 5px 10px;
    span {
      position: relative;
      top: -6px;
    }
  }
}

.grip, .remove-line, .add-line, .add-line-with-date {
  &:hover {
    cursor: pointer;
  }
}

.reveal .playback {
  width: 40px !important;
  height: 40px !important;
}

.align-bottom {
  position: relative;
  top: 20px;
}

.no-margin {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .number span {
    font-size: 10.00vw;
  }
}