.card {
  margin: 5px;
  overflow: hidden;
  border-radius: 0;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 1s ease-out;
  &.highlight {
    box-shadow: 0 2px 5px 0 rgba(255, 165, 0, 0.16);
  }
  .card-title {
    color: rgba(0, 0, 0, 0.87);
    white-space: nowrap;
  }
}

.card-content, .innergraph {
  font-weight: lighter;
  height: 95%;
}

.col.graph {
  padding: 0;
}

.dashboard-graphs {
  .brand-badge {
    transition: opacity 0.25s;
    position: relative;
    top: 4px;
    right: 0;
    width: 20px;
    height: 20px;
  }
  .collection-item:hover .brand-badge {
    transition: opacity 0.25s;
    opacity: 1;
  }
}

.brand-badge {
  position: absolute;
  bottom: 5px;
  right: 5px;
  opacity: 0.5;
  width: 30px;
  height: 30px;
}

.number {
  height: 75%;
  span {
    font-size: 3.75vw;
  }
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.card {
 .today {
    font-size: 3vw;
  }
  .ranges {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    width: 95%;
    .month, .week {
      width: 50%;
      float: left;
    }
  }
}

.ct-label {
  font-weight: bold !important;
  font-size: 0.9rem !important;
}

.graph-pie, .graph-donut {
  .ct-label {
    fill: white !important;
    font-weight: normal !important;
    font-size: 1.2rem !important;
  }
}

.ct-chart {
  height: 95%;
}

// Line Chart
.ct-series-a .ct-line {
  stroke: $primary-color !important;
}
.ct-series-a .ct-point {
  stroke: $primary-color !important;
}

// Bar Chart
.ct-series-a .ct-bar {
  stroke: $primary-color !important;
  stroke-width: 10% !important;
}

// Pie Chart
.ct-series-a .ct-slice-pie,
.ct-series-b .ct-slice-pie,
.ct-series-c .ct-slice-pie,
.ct-series-d .ct-slice-pie,
.ct-series-e .ct-slice-pie,
.ct-series-f .ct-slice-pie {
  stroke: white;
  stroke-width: 1px;
}
.ct-series-a { .ct-slice-pie { fill: $primary-color !important; } }
.ct-series-b { .ct-slice-pie { fill: $secondary-color !important; } }
.ct-series-c { .ct-slice-pie { fill: $primary-color-light !important; } }
.ct-series-d { .ct-slice-pie { fill: $secondary-color-dark !important; } }
.ct-series-e { .ct-slice-pie { fill: $primary-color-dark !important; } }
.ct-series-f { .ct-slice-pie { fill: $secondary-color-light !important; } }

// Donut Chart
.ct-series-a .ct-slice-donut,
.ct-series-b .ct-slice-donut,
.ct-series-c .ct-slice-donut,
.ct-series-d .ct-slice-donut,
.ct-series-e .ct-slice-donut,
.ct-series-f .ct-slice-donut {
  stroke-width: 10% !important;
}
.ct-series-a { .ct-slice-donut { stroke: $primary-color !important; } }
.ct-series-b { .ct-slice-donut { stroke: $secondary-color !important; } }
.ct-series-c { .ct-slice-donut { stroke: $primary-color-light !important; } }
.ct-series-d { .ct-slice-donut { stroke: $secondary-color-dark !important; } }
.ct-series-e { .ct-slice-donut { stroke: $primary-color-dark !important; } }
.ct-series-f { .ct-slice-donut { stroke: $secondary-color-light !important; } }

// List and lender glances
.list-title {
  display: block;
}

.marquee-container {
  overflow: hidden;
  background: white;
  position: relative;
  box-sizing: border-box;
  ul.collection {
    border: none;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
    margin: 0;
    li.collection-item {
      padding-left: 0;
      font-size: 1.5em;
      p {
        padding-top: 5px;
        font-size: 0.8em;
      }
    }
  }
}

.marquee {
  position: relative;
  box-sizing: border-box;
  animation: marquee 10s alternate linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0%   { top: 0% }
  100% { top: -100% }
}