!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://ogp.me/ns/fb#"}
  %head
    %title= @title.present? ? "#{@title} | AgentEcho" : 'AgentEcho'
    %meta{:content => 'https://app.agentecho.io/agentecho-hero.png', :property => "og:image"}
    %meta{:content => "Know where you are. Know where to go.", :property => "og:description"}
    %meta{:content => "website", :property => "og:type"}

    %link{:href => "/apple-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}
    %link{:href => "/apple-icon-60x60.png", :rel => "apple-touch-icon", :sizes => "60x60"}
    %link{:href => "/apple-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => "/apple-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}
    %link{:href => "/apple-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}
    %link{:href => "/apple-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}
    %link{:href => "/apple-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}
    %link{:href => "/apple-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}
    %link{:href => "/apple-icon-180x180.png", :rel => "apple-touch-icon", :sizes => "180x180"}
    %link{:href => "/android-icon-192x192.png", :rel => "icon", :sizes => "192x192", :type => "image/png"}
    %link{:href => "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}
    %link{:href => "/favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}
    %link{:href => "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}
    %link{:href => "/manifest.json", :rel => "manifest"}
    %meta{:content => "#ffffff", :name => "msapplication-TileColor"}
    %meta{:content => "/ms-icon-144x144.png", :name => "msapplication-TileImage"}
    %meta{:content => "#ffffff", :name => "theme-color"}

    %meta{:content => "mbTuh3vzZgQy8EVGy3webdg3e9FIpLllIUay_VkjcmQ", :name => "google-site-verification"}
    %meta{content: "width=device-width, initial-scale=1", name: :viewport}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': "reload"
    = stylesheet_link_tag '//fonts.googleapis.com/icon?family=Material+Icons', media: 'all'
    = javascript_include_tag 'https://js.stripe.com/v2/'
    = javascript_include_tag 'application', 'data-turbolinks-track': "reload"
    = csrf_meta_tags

    :javascript
      Stripe.setPublishableKey("#{ENV['STRIPE_PUBLIC']}");
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '188347174874679');
      fbq('track', "PageView");
  %body
    %nav
      - if current_account.nil?
        .nav-wrapper
          .row
            .col.m12.s12.l8.offset-l2
              .brand-logo
                = link_to '/' do
                  = image_tag 'agentecho-logo.png'
              %ul.nav-mobile.right
                %li
                  %a{ href: login_path }
                    %i.material-icons.right exit_to_app
                    .hide-on-med-and-down.left Login
      - else
        .nav-wrapper
          .row
            .col.m12.s12.l8.offset-l2
              .brand-logo.left
                = link_to '/' do
                  = image_tag 'agentecho-logo.png'
              %ul.right
                %li
                  %a{ href: dashboards_path }
                    %i.material-icons.right dashboard
                    .hide-on-med-and-down.left Boards & Loops
                %li
                  %a{ href: integrations_path }
                    %i.material-icons.right cloud
                    .hide-on-med-and-down.left Connect
                %li
                  %a{ href: settings_path }
                    %i.material-icons.right settings
                    .hide-on-med-and-down.left Settings
                %li
                  %a{ href: logout_path }
                    %i.material-icons.right exit_to_app
                    .hide-on-med-and-down.left Logout
    = render partial: 'partials/notifications' if current_account.present?
    %main
      .row
        .col.m12.s12.l8.offset-l2
          = yield
      %footer.page-footer.hide-on-medium-and-down
        .footer-copyright
          .row
            .col.m12.s12.l8.offset-l2
              %span.hide-on-small-only= "© #{DateTime.now.year} Copyright AgentEcho"
              %span.hide-on-med-and-up= "© #{DateTime.now.year} AgentEcho"
              .right
                = link_to "https://www.facebook.com/agentecho1", target: :blank, class: 'grey-text text-lighten-3' do
                  %span.hide-on-small-only Facebook Page
                  %span.hide-on-med-and-up FB
                %span •
                = link_to "Support", "http://support.agentecho.io", target: :blank, class: 'grey-text text-lighten-3'

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-59804004-4', 'auto');
      ga('send', 'pageview');

    - if current_account.present?
      = render partial: 'partials/appcues'
      :javascript
        var TZ = "#{Time.now.in_time_zone(current_account.time_zone).at_midnight.iso8601}";

    - if flash[:notice].present?
      :javascript
        setTimeout(
          Materialize.toast("#{flash[:notice]}", 3000, 'toast'),
          200
        )

    - if flash[:alert].present?
      :javascript
        Materialize.toast("#{flash[:alert]}", 20000, 'toast-error')