!!!
%html.dashboard
  %head
    %title= @title
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag '//fonts.googleapis.com/icon?family=Material+Icons', media: 'all'
    %meta{content: "width=device-width, initial-scale=1", name: :viewport}
    = csrf_meta_tags
    = action_cable_meta_tag

    :javascript
      var TZ = "#{Time.now.in_time_zone((@dashboard || @loop).account.time_zone).at_midnight.iso8601}";

  %body.dashboard
    = yield

    = javascript_include_tag 'application'
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-59804004-4', 'auto');
      ga('send', 'pageview');