.input-field
  = f.text_field :name
  = f.label :name
.row
  .col.m8.s12.no-gutter
    .input-field
      = f.email_field :email
      = f.label :email
  .col.m4.s12
    .input-field
      = f.check_box :email_optin
      = f.label :email_optin, 'Recieve email updates?'
.input-field
  = f.phone_field :phone
  = f.label :phone