.row
  .col.m6.s12.offset-m3
    %h4
      Billing
      %small.right
        %a.dropdown-button{ data: { activates: "billing-dropdown", constrainwidth: false }, :href => "#" }
          %i.material-icons{ style: 'font-size: 2.5rem;' } arrow_drop_down_circle
    %hr
  .col.m6.s12.offset-m3.no-gutter
    .col.s12
      %blockquote.flow-text
        - if current_account.on_trial?
          Your trial ends on
          %strong= @account.cycle_ends_on.to_date.to_formatted_s(:long_ordinal)
          %br
        - else
          - if @account.billing_issue.present?
            Your subscription has a billing issue:
            %strong.red-text= @account.billing_issue_msg
            %br
          You will be charged
          %strong= @account.current_plan_price
          on
          %strong= @account.cycle_ends_on.to_date.to_formatted_s(:long_ordinal)
          - if @account.cc_last_four.present?
            %br
            Current Card Last Four Digits:
            %strong= @account.cc_last_four
      %br
      %h5 Change Plan
      %hr
      = form_for @account, remote: true do |f|
        %ul.collection
          %li.collection-item
            = f.radio_button :plan, :free, id: 'free-plan', class: 'with-gap plan'
            %label{ for: 'free-plan' } Free
            .right
              = link_to 'Learn More', '#', target: '_blank'
          %li.collection-item
            = f.radio_button :plan, :agent, id: 'agent-plan', class: 'with-gap plan'
            %label{ for: 'agent-plan' } Agent
            .right
              $9 / month &nbsp;
              = link_to 'Learn More', '#', target: '_blank'
          %li.collection-item
            = f.radio_button :plan, :agentplus, id: 'agent-plus-plan', disabled: true, class: 'with-gap plan'
            %label Agent+
            .right
              Coming Soon &nbsp;
              = link_to 'Learn More', '#', target: '_blank'
          %li.collection-item
            = f.radio_button :plan, :team, id: 'team-plan', disabled: true, class: 'with-gap plan'
            %label Team
            .right
              Coming Soon &nbsp;
              = link_to 'Learn More', '#', target: '_blank'
        = f.submit 'Change Plan', class: 'btn col s12 m6 offset-m3', id: 'update-plan', disabled: true
    = form_tag '/update-billing', id: 'payment-form', method: 'PUT' do
      .col.s12
        %br
        %h5 Update Credit Card
        %hr
      .col.s12
        .payment-errors.errors.card-panel.red.lighten-3.white-text.hide
          %div
      .input-field.col.s12
        %input{ data: { stripe: "number" }, size: "20", type: "number" }
        %label{ for: '1' } Card Number
      .input-field.col.s6
        %input{ data: { stripe: "exp_month" }, size: "2", type: "number" }
        %label{ for: '1' } Expiration Month (MM)
      .input-field.col.s6
        %input{ data: { stripe: "exp_year" }, size: "2", type: "number" }
        %label{ for: '1' } Expiration Year (YY)
      .input-field.col.s12
        %input{ data: { stripe: "cvc" }, size: "4", type: "number" }
        %label{ for: '1' } CVC Number
      .input-field.col.s12
        %input{ data: { stripe: "couponCode" }, type: "text" }
        %label{ for: '1' } Coupon Code
      .col.s12
        = submit_tag 'Update Credit Card', class: 'btn btn-large col s12'
%ul#billing-dropdown.dropdown-content
  %li= link_to 'Account', settings_path
  %li= link_to 'Password', password_path
  %li= link_to 'Referral', referral_path

:javascript
  $(document).on('change', '.plan', function () {
    $('#update-plan').attr('disabled', false)
  })