- cache [ApplicationHelper::APP_VERSION, @account] do
  .row
    .col.m6.s12.offset-m3
      %h4
        Edit Account
        %small.right
          %a.dropdown-button{ data: { activates: "account-dropdown", constrainwidth: false }, :href => "#" }
            %i.material-icons{ style: 'font-size: 2.5rem;' } arrow_drop_down_circle
      %hr
  .row
    .col.m6.s12.offset-m3
      = form_for @account, remote: true do |f|
        = render partial: 'partials/errors'
        = render 'form', f: f
        .input-field
          = f.select(:persona, Account::PERSONAS, include_blank: 'Persona', class: 'browser-default')
        .input-field
          = f.time_zone_select(:time_zone, ActiveSupport::TimeZone.us_zones, class: 'browser-default')
        .input-field
          = f.submit class: 'btn btn-large col s12'
%ul#account-dropdown.dropdown-content
  %li= link_to 'Billing', billing_path
  %li= link_to 'Password', password_path
  %li= link_to 'Referral', referral_path