%table.highlight.bordered
  %thead
    %tr
      %th{"data-field" => "id"} ID
      %th{"data-field" => "name"} Name
      %th{"data-field" => "email"} Email
      %th{"data-field" => "phone"} Phone
      %th{"data-field" => "account-created"} Account Created
      %th{"data-field" => "last-login"} Last Login
      %th{"data-field" => "number-of-boards"} Number of Boards
      %th{"data-field" => "number-of-boards"} Referral Link
      %th{"data-field" => "number-of-boards"} Referrals Count
      %th
  %tbody
    - cache [ApplicationHelper::APP_VERSION, @accounts] do
      - @accounts.each do |account|
        - cache account do
          %tr
            %td= account.id
            %td= account.name
            %td= account.email
            %td= account.phone
            %td= account.created_at.to_formatted_s(:short)
            %td= account.last_login_at.to_formatted_s(:short)
            %td= account.dashboards.count
            %td= link_to signup_url(account.referral_code, host: 'app.agentecho.io'), target: :blank
            %td= account.referrals_count
            %td
              = link_to account_path(account) do
                %i.material-icons recent_actors
              = link_to account_path(account), method: :delete, class: 'red-text', data: { confirm: 'Are you sure you want to delete this account?' } do
                %i.material-icons delete