.row
  .col.m6.s12.offset-m3
    %h4 New Account
    %hr
.row
  .col.m6.s12.offset-m3
    .row
      = link_to omniauth_path(provider: 'google', state: { source: @source, referrer: @referrer }) do
        .btn.btn-large.col.s12.white.black-text.omniauth-button
          = image_tag 'google-logo.png', class: 'left'
          .center
            Sign up With Google
    .row
      = link_to omniauth_path(provider: 'facebook', state: { source: @source, referrer: @referrer }) do
        .btn.btn-large.col.s12.white.black-text.omniauth-button
          = image_tag 'facebook-logo.png', class: 'left'
          .center
            Sign up With Facebook
    .section
      .row.center-align
        %h5 Or fill out this form
      .row
        = form_for @account, remote: true do |f|
          = render partial: 'partials/errors'
          = f.hidden_field :source, value: @source
          = f.hidden_field :referrer_id, value: @referrer
          = render 'form', f: f
          .input-field
            = f.password_field :password
            = f.label :password
          .input-field
            = f.password_field :password_confirmation
            = f.label :password_confirmation
          = f.submit 'Sign up', class: 'btn btn-large col s12'
