- cache [ApplicationHelper::APP_VERSION, @account] do
  .row
    .col.m6.s12.offset-m3
      %h4
        Change Password
        %small.right
          %a.dropdown-button{ data: { activates: "password-dropdown", constrainwidth: false }, :href => "#" }
            %i.material-icons{ style: 'font-size: 2.5rem;' } arrow_drop_down_circle
      %hr
  .row
    .col.m6.s12.offset-m3
      = form_for @account, url: { action: :update_password }, remote: true do |f|
        = hidden_field_tag :token, params[:token]
        = render partial: 'partials/errors'
        .input-field
          = f.password_field :password
          = f.label :password, 'New Password'
        .input-field
          = f.password_field :password_confirmation
          = f.label :password_confirmation
        = f.submit 'Update Password', class: 'btn btn-large col s12'
%ul#password-dropdown.dropdown-content
  %li= link_to 'Account', settings_path
  %li= link_to 'Billing', billing_path
  %li= link_to 'Referral', referral_path