.row
  .col.m6.s12.offset-m3
    %h4
      Referral
      %small.right
        %a.dropdown-button{ data: { activates: "billing-dropdown", constrainwidth: false }, :href => "#" }
          %i.material-icons{ style: 'font-size: 2.5rem;' } arrow_drop_down_circle
    %hr
  .col.m6.s12.offset-m3
    %blockquote.flow-text
      You have referred
      %strong
        = number_with_delimiter current_account.referrals_count
        = 'person'.pluralize(current_account.referrals_count)
    %p
      Share your referral link, every account that signs up using your link gets
      %strong
        %u you
      a free week of AgentEcho.
    .input-field.col.s12.m8.no-gutter
      %input.copy-source#referral_code{ disabled: true, type: "text", value: signup_url(current_account.referral_code, host: 'app.agentecho.io') }
      %label{ for: 'referral_code' } Referral Link
    .input-field.col.s12.m4
      %a.waves-effect.waves-light.btn.copy-btn.col.s12{ href: "#"}
        %i.material-icons.left content_copy
        Copy
    .col.s12.no-gutter
      %p Share on your social accounts for more free time with AgentEcho!
      %iframe{:allowtransparency => "true", :frameborder => "0", :height => "28", :scrolling => "no", :src => "https://www.facebook.com/plugins/share_button.php?href=#{URI::encode(signup_url(current_account.referral_code, host: 'app.agentecho.io'))}&layout=button&size=large&mobile_iframe=true&appId=845945175539314&width=73&height=28&quote=#{URI.encode('Checking out Agent Echo--create brilliant visual graphs with me, track your most important numbers!')}", :style => "border:none;overflow:hidden", :width => "73"}
      = link_to '', "https://twitter.com/intent/tweet?#{ { url: signup_url(current_account.referral_code, host: 'app.agentecho.io'), hashtags: 'AgentEcho', related: 'agentecho1', text: 'Checking out Agent Echo--create brilliant visual graphs with me, track your most important numbers!' }.to_query}", class: 'twitter-share-button', data: { size: 'large' }
%ul#billing-dropdown.dropdown-content
  %li= link_to 'Account', settings_path
  %li= link_to 'Billing', billing_path
  %li= link_to 'Password', password_path

%script{:src => "//platform.twitter.com/widgets.js"}