.row
  .col.m6.s12.offset-m3
    %h4 Reset Password
    %hr
  .col.m6.s12.offset-m3
    .row
      = form_tag '/password-auth', remote: true do |f|
        = render partial: 'partials/errors'
        %p Enter your email address here to have your password reset.
        .input-field
          = text_field_tag :email
          = label_tag :email
        = submit_tag 'Request Password Reset', class: 'btn btn-large col s12'